In [1]:
# https://www.kaggle.com/open-source-sports/baseball-databank
import pandas as pd
import numpy as np
import os

In [2]:
b_df = pd.read_csv('BattingPost.csv')
print(b_df.columns)
b_df.head()

Index(['yearID', 'round', 'playerID', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP'],
      dtype='object')

,yearID,round,playerID,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1884,WS,becanbu01,NY4,AA,1,2,0,1,0,...,0,0,NaN,0,0,0.0,NaN,NaN,NaN,NaN
1,1884,WS,bradyst01,NY4,AA,3,10,1,0,0,...,0,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
2,1884,WS,esterdu01,NY4,AA,3,10,0,3,1,...,0,1,NaN,0,3,0.0,NaN,NaN,NaN,NaN
3,1884,WS,forstto01,NY4,AA,1,3,0,0,0,...,0,0,NaN,0,1,0.0,NaN,NaN,NaN,NaN
4,1884,WS,keefeti01,NY4,AA,2,5,0,1,0,...,0,0,NaN,0,4,0.0,NaN,NaN,NaN,NaN

In [3]:
weight_cols = ['G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB',
               'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP']

In [4]:
for year, df in b_df.groupby('yearID'):
    print(year)
    df['id'] = df['round'] + '/' + df['lgID'] + '/' + df['teamID'].astype('str') + '/' + df['playerID']
#         display(df)
    for col in weight_cols:
        copy = df.loc[:, ['id', col]].dropna(axis=0).copy()
        copy.columns = ['id', 'weight']
        copy['weight'] = copy['weight'].abs()  # We can't have negative weights
        copy['weight'] = copy['weight'].replace({0:np.nan})
        copy.dropna(axis=0, how='any', inplace=True)

        dir_name = 'baseball/batting-' + col + '/'
        os.makedirs(dir_name, exist_ok=True)
        if copy.shape[0] > 0:  # Check if not empty
            copy.to_csv(dir_name + str(year) + '-'  + str(copy.shape[0]) + '.csv', index=False)

1884
1885

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1886
1887
1888
1889
1890
1892
1903
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015

In [5]:
p_df = pd.read_csv('PitchingPost.csv')
print(p_df.columns)
p_df.info()

Index(['playerID', 'yearID', 'round', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5109 entries, 0 to 5108
Data columns (total 30 columns):
playerID    5109 non-null object
yearID      5109 non-null int64
round       5109 non-null object
teamID      5109 non-null object
lgID        5109 non-null object
W           5109 non-null int64
L           5109 non-null int64
G           5109 non-null int64
GS          5109 non-null int64
CG          5109 non-null int64
SHO         5109 non-null int64
SV          5109 non-null int64
IPouts      5109 non-null int64
H           5109 non-null int64
ER          5109 non-null int64
HR          5109 non-null int64
BB          5109 non-null int64
SO          5109 non-null int64
BAOpp       5041 non-null object
ERA         4841 non-null float64
IBB         5059 non-null float64
WP          5059 non-null float64
HBP         5059 non-null float64
BK          4884 non-null float64
BFP         5059 non-null float64
GF          5109 non-null int64
R           5109 non-null int64
SH          4398 non-null float64
SF          4398 non-null float64
GIDP        5059 non-null float64
dtypes: float64(9), int64(16), object(5)
memory usage: 1.2+ MB

In [6]:
weight_cols = ['W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO',
               'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP']

In [7]:
for year, df in p_df.groupby('yearID'):
    print(year)
    df['id'] = df['round'] + '/' + df['lgID'] + '/' + df['teamID'].astype('str') + '/' + df['playerID']
#         display(df)
    for col in weight_cols:
        copy = df.loc[:, ['id', col]].dropna(axis=0).copy()
        copy.columns = ['id', 'weight']
        copy['weight'] = copy['weight'].abs()  # We can't have negative weights
        copy['weight'] = copy['weight'].replace({0:np.nan})
        copy.dropna(axis=0, how='any', inplace=True)

        dir_name = 'baseball/pitching-' + col + '/'
        os.makedirs(dir_name, exist_ok=True)
        if copy.shape[0] > 0:  # Check if not empty
            copy.to_csv(dir_name + str(year) + '-'  + str(copy.shape[0]) + '.csv', index=False)

1884
1885

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1886
1887
1888
1889
1890
1892
1903
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015