In [293]:
# Data from https://earthquake.usgs.gov/earthquakes/search/

In [294]:
! mkdir earthquake-count-per-lat-long

In [295]:
import pandas as pd
from IPython.display import display

In [296]:
df = pd.read_csv('earthquakes.csv')

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8336 entries, 0 to 8335
Data columns (total 22 columns):
time               8336 non-null object
latitude           8336 non-null float64
longitude          8336 non-null float64
depth              8336 non-null float64
mag                8336 non-null float64
magType            8336 non-null object
nst                7173 non-null float64
gap                8060 non-null float64
dmin               8038 non-null float64
rms                8336 non-null float64
net                8336 non-null object
id                 8336 non-null object
updated            8336 non-null object
place              8336 non-null object
type               8336 non-null object
horizontalError    8060 non-null float64
depthError         8336 non-null float64
magError           7988 non-null float64
magNst             8018 non-null float64
status             8336 non-null object
locationSource     8336 non-null object
magSource          8336 non-null object
dtypes: float64(12), object(10)
memory usage: 1.4+ MB

In [298]:
df['time'] = pd.to_datetime(df['time'],infer_datetime_format=True)
df['time'] = df['time'].dt.date
df['time'] = df['time'].astype(str)

In [299]:
df['latitude'] = df['latitude'].astype(int).astype(str)
df['longitude'] = df['longitude'].astype(int).astype(str)
df['coords'] = (df['latitude']).str.cat(df['longitude'], sep='^')

In [300]:
df = df.loc[:, ['time', 'coords', 'mag']]

In [301]:
df

            time   coords   mag
0     2018-07-04  19^-155  2.67
1     2018-07-04  19^-155  2.50
2     2018-07-04  19^-155  2.86
3     2018-07-04  19^-155  2.78
4     2018-07-04  19^-155  2.60
5     2018-07-04  19^-155  2.85
6     2018-07-04  19^-155  2.98
7     2018-07-04    27^56  4.30
8     2018-07-04  19^-155  2.52
9     2018-07-04  19^-155  2.99
10    2018-07-04  19^-155  3.04
11    2018-07-04  19^-155  2.64
12    2018-07-04  19^-155  2.54
13    2018-07-04  35^-117  2.54
14    2018-07-04  19^-155  2.50
15    2018-07-04  19^-155  2.52
16    2018-07-04  19^-155  2.55
17    2018-07-04  19^-155  2.72
18    2018-07-04  19^-155  2.54
19    2018-07-03  19^-155  2.65
20    2018-07-03  19^-155  3.04
21    2018-07-03  19^-155  2.73
22    2018-07-03  19^-155  2.84
23    2018-07-03  19^-155  2.68
24    2018-07-03  19^-155  2.62
25    2018-07-03  19^-155  2.61
26    2018-07-03  19^-155  2.61
27    2018-07-03  19^-155  2.58
28    2018-07-03  19^-155  2.59
29    2018-07-03  19^-155  2.64
...          ...      ...   ...
8306  2018-06-04  31^-103  2.70
8307  2018-06-04    2^128  4.10
8308  2018-06-04  31^-115  2.73
8309  2018-06-04  58^-153  3.30
8310  2018-06-04  19^-155  5.40
8311  2018-06-04  19^-155  2.90
8312  2018-06-04  19^-155  2.84
8313  2018-06-04  19^-155  3.43
8314  2018-06-04  19^-155  2.68
8315  2018-06-04  19^-155  2.55
8316  2018-06-04  19^-155  2.77
8317  2018-06-04  19^-155  2.57
8318  2018-06-04   -6^156  4.80
8319  2018-06-04  19^-155  2.68
8320  2018-06-04  19^-155  2.68
8321  2018-06-04  19^-155  2.56
8322  2018-06-04  61^-167  3.80
8323  2018-06-04  -55^-26  4.60
8324  2018-06-04  19^-155  2.53
8325  2018-06-04  -55^-26  4.60
8326  2018-06-04  -21^179  4.20
8327  2018-06-04  19^-155  2.74
8328  2018-06-04  19^-155  2.71
8329  2018-06-04   19^-65  2.57
8330  2018-06-04  19^-155  2.80
8331  2018-06-04  19^-155  2.81
8332  2018-06-04  40^-124  2.78
8333  2018-06-04  19^-155  2.63
8334  2018-06-04  19^-155  2.50
8335  2018-06-04   -12^45  4.40

[8336 rows x 3 columns]

In [302]:
for name, group in df.groupby('time'):
    temp = group.groupby('coords').count()
    temp['id'] = [name + '/' + i for i in temp.index]
    temp['weight'] = temp['mag']
    temp.to_csv('earthquake-count-per-lat-long/' + name + '-earthquakes.csv', columns=['id','weight'], index=False)