In [72]:
import pandas as pd
import os
import string

In [73]:
# Read and process movies table

In [74]:
movies_df = pd.read_csv('movies.csv')

In [75]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [76]:
# Make new column with release year
movies_df['year'] = movies_df['title'].str.extract(r'.*\((\d\d\d\d)\).*')  # Regex to capture year 
movies_df.dropna(inplace=True)  # Drop movies that don't have a year in the title
movies_df['year'] = movies_df['year'].astype(int)

movies_df['title'] = movies_df['title'].str.replace(r'\((\d\d\d\d)\)', '')  # Remove year from title
movies_df['title'] = movies_df['title'].str.replace('[{}]'.format(string.punctuation), '')  # Remove ponctuation from title
movies_df['title'] = movies_df['title'].str.replace(' ', '')
    
movies_df['genres'] = movies_df['genres'].str.replace('|', '/')  # Remove year from title
movies_df['genres'] = movies_df['genres'].str.replace('(no genres listed)', 'NA')

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [77]:
print(movies_df.shape)
movies_df.head()

(27256, 4)

,movieId,title,genres,year
0,1,ToyStory,Adventure/Animation/Children/Comedy/Fantasy,1995
1,2,Jumanji,Adventure/Children/Fantasy,1995
2,3,GrumpierOldMen,Comedy/Romance,1995
3,4,WaitingtoExhale,Comedy/Drama/Romance,1995
4,5,FatheroftheBridePartII,Comedy,1995

In [78]:
# Read ratings

In [79]:
#ratings_df = pd.read_csv('ratings.csv')

In [80]:
#ratings_df.head()

In [81]:
#ratings_df['timestamp'] = pd.to_datetime(ratings_df['timestamp'], unit='s')  # Convert unix timestamp to pandas time
#ratings_df.head()

# Define filters

In [97]:
def filter_60s_through_80s(df):
    return df[df['year'].between(1960, 1990)]

# filter_60s_through_80s(movies_df)  # 6k

In [98]:
def filter_90s(df):
    return df[df['year'].between(1990, 2000 )]

# filter_90s(movies_df)  # 17k

In [101]:
def filter_00s_through_now(df):
    return df[df['year'].between(2000, 2018)]

# filter_00s_through_now(movies_df)  # 12k

In [105]:
def filter_children(df):
    return df[df['genres'].str.contains('Children', regex=False)]

# filter_children(movies_df)  # 1k

In [108]:
def filter_action(df):
    return df[df['genres'].str.contains('Action', regex=False)]

# filter_action(movies_df)  # 3k

In [110]:
def filter_documentaries(df):
    return df[df['genres'].str.contains('Documentary', regex=False)]

# filter_documentaries(movies_df)  # 2k

In [112]:
def filter_no_genre(df):
    return df[df['genres'].str.contains('(NA)', regex=False)]

# filter_no_genre(movies_df)  # 237

In [116]:
def filter_random_2000(df):
    return df.sample(n=2000, random_state=42)

# filter_random_2000(movies_df)

In [119]:
def filter_3_or_more_genres(df):
    return df[df['genres'].str.count('/') >= 3]

# filter_3_or_more_genres(movies_df)  # 2k

In [124]:
filter_list = [filter_60s_through_80s, filter_90s, filter_00s_through_now, filter_children, 
               filter_action, filter_documentaries, filter_no_genre, filter_random_2000, filter_3_or_more_genres]
for f in filter_list:
    print(f(movies_df).shape)

(6649, 4)
(4985, 4)
(12746, 4)
(1139, 4)
(3519, 4)
(2467, 4)
(237, 4)
(2000, 4)
(2309, 4)

In [83]:
# monthly_gb = ratings_df.groupby([pd.Grouper(key='timestamp', freq='Y'), 'movieId'])